<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="favicon" rel="icon" href="https://firebasestorage.googleapis.com/v0/b/fir-test-be60a.appspot.com/o/favicon.png?alt=media&token=e966aaa4-d064-4800-8531-62f2bc8cd3a3" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <script>
      var datedob = moment("2020-09-22T00:00:00.000Z").format("YYYY-MM-DD");
      // console.log(datedob);
      var datedoj = moment("2020-09-22T00:00:00.000Z").format("YYYY-MM-DD");
      // console.log(datedoj);
      var datePassportExpiry = moment("2020-09-22T00:00:00.000Z").format("YYYY-MM-DD");
      // console.log(datePassportExpiry);

      var managerId = 2;

      $( function() {

        $( "#datepickerdob" ).datepicker({
          dateFormat: 'yy-mm-dd', 
          defaultDate: datedob,
          firstDay:1, // Tuesday is first day 
          changeMonth: true, 
          changeYear: true,
          // buttonImage: 'contact/calendar/calendar.gif',
          // buttonImageOnly: true,
            onSelect: function(selectedDate) {
                 // we can write code here 
                 // console.log(selectedDate);
                 var dateobj = new Date(selectedDate); 
                 var dateobjISOString = dateobj.toISOString();
                 // console.log(dateobjISOString);
                 $( "#dob" ).val(dateobjISOString);
             }
          // minDate: -120, 
          //maxDate: "+1M +15D" 
        }).val(datedob);

        $( "#datepickerdoj" ).datepicker({
          dateFormat: 'yy-mm-dd', 
          defaultDate: datedoj,
          firstDay:1, // Tuesday is first day 
          changeMonth: true, 
          changeYear: true,
          // buttonImage: 'contact/calendar/calendar.gif',
          // buttonImageOnly: true,
            onSelect: function(selectedDate) {
                 // we can write code here 
                 // console.log(selectedDate);
                 var dateobj = new Date(selectedDate); 
                 var dateobjISOString = dateobj.toISOString();
                 // console.log(dateobjISOString);
                 $( "#doj" ).val(dateobjISOString);
             }
          // minDate: -120, 
          //maxDate: "+1M +15D" 
        }).val(datedoj);

        $( "#datepickerpassportExpiry" ).datepicker({
          dateFormat: 'yy-mm-dd', 
          defaultDate: datePassportExpiry,
          firstDay:1, // Tuesday is first day 
          changeMonth: true, 
          changeYear: true,
          // buttonImage: 'contact/calendar/calendar.gif',
          // buttonImageOnly: true,
            onSelect: function(selectedDate) {
                 // we can write code here 
                 // console.log(selectedDate);
                 var dateobj = new Date(selectedDate); 
                 var dateobjISOString = dateobj.toISOString();
                 // console.log(dateobjISOString);
                 $( "#passportExpiry" ).val(dateobjISOString);
             }
          // minDate: -120, 
          //maxDate: "+1M +15D" 
        }).val(datePassportExpiry);


          $("#isActive").prop('checked', true);
          $("#isActiveValue").text('true');

          $("#isAdmin").prop('checked', false);
          $("#isAdminValue").text('false');



        // if({{empdetail.isActive}}){
        //   $("#isActive").prop('checked', true);
        //   $("#isActiveValue").text('true');
        // }else{
        //   $("#isActive").prop('checked', false);
        //   $("#isActiveValue").text('false');
        // }

        // if({{empdetail.isAdmin}}){
        //   $("#isAdmin").prop('checked', true);
        //   $("#isAdminValue").text('true');
        // }else{
        //   $("#isAdmin").prop('checked', false);
        //   $("#isAdminValue").text('false');
        // }

        $('#isActive').change(function(){

            if($(this).prop('checked')){
                  $(this).val('true');
                  $("#isActiveValue").text('true');
             }else{
                  $(this).val('false');
                  $("#isActiveValue").text('false');
             }
        });

        $('#isAdmin').change(function(){

            if($(this).prop('checked')){
                  $(this).val('true');
                  $("#isAdminValue").text('true');
             }else{
                  $(this).val('false');
                  $("#isAdminValue").text('false');
             }
        });

        var urlmanagerlist = "/managerlist";

        $.getJSON(urlmanagerlist, function (data) {
            $.each(data, function (index, value) {
                // APPEND OR INSERT DATA TO SELECT ELEMENT.
                if(value != null){
                  $('#selectboxmanager').append('<option value="' + value.managerId + '">' + value.managerName + '</option>');
                }
            });
        });

         // SHOW SELECTED VALUE.
        $('#selectboxmanager').change(function () {
            $('#managerId').val(this.options[this.selectedIndex].value);
            $('#managerName').val(this.options[this.selectedIndex].text);
        });

       setTimeout(function () {
          $('#selectboxmanager').val(managerId);
            $('#managerId').val($('#selectboxmanager').val());
            $('#managerName').val($('#selectboxmanager option:selected').text());
        }, 1000);        

        $("#submitBtn").click(function(){


          var empId = document.forms["empdetailForm"]["empId"].value;
          var title = document.forms["empdetailForm"]["title"].value;
          var email = document.forms["empdetailForm"]["email"].value;
          var firstName = document.forms["empdetailForm"]["firstName"].value;
          var lastName = document.forms["empdetailForm"]["lastName"].value;
          var phone = document.forms["empdetailForm"]["phone"].value;
          var mobilePhone = document.forms["empdetailForm"]["mobilePhone"].value;
          var pan = document.forms["empdetailForm"]["pan"].value;
          var passportNo = document.forms["empdetailForm"]["passportNo"].value;

          if (empId == "") {
            alert("Employee ID must be filled out");
            return false;
          }
          if (title == "") {
            alert("Designation must be filled out");
            return false;
          }          
          if (email == "") {
            alert("Email must be filled out");
            return false;
          }

          const reEmail = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
          if (!reEmail.test(email)){
            alert("Ooops! We need a valid email address.");
            return false;
          }
          if (email.match(/sarvika.com/g) == null){
            alert("Ooops! We need a sarvika email address.");
            return false;
          }

          if (firstName == "") {
            alert("First Name must be filled out");
            return false;
          }
          if (lastName == "") {
            alert("Last Name must be filled out");
            return false;
          }
          if (phone == "") {
            alert("Phone number must be filled out");
            return false;
          }
          const regPhone = /^[7-9][0-9]{9}$/; // /^[0]?[789]\d{9}$/;
          if (regPhone.test(phone) === false){
            alert("Phone numeric and can be 10 digit only");
            return false;
          }

          if (mobilePhone == "") {
            alert("Emergency phone number must be filled out");
            return false;
          }
          const regMobilePhone = /^[7-9][0-9]{9}$/; // /^[0]?[789]\d{9}$/;
          if (regMobilePhone.test(mobilePhone) === false){
            alert("Emergency numeric and can be 10 digit only");
            return false;
          }

          if (pan == "") {
            alert("PAN number must be filled out");
            return false;
          }
            const regPan = /^[A-Z]{5}[0-9]{4}[A-Z]{1}$/;
          if (regPan.test(pan) === false){
            alert("PAN number alpha-numeric with 10 digit length");
            return false;
          }

          if (passportNo == "") {
            alert("Passport number must be filled out");
            return false;
          }
            const regPassportNo = /^[A-Z]{1}[0-9]{7}$/;
          if (regPassportNo.test(passportNo) === false){
            alert("Passport number 1 alphabate with 7 digit length");
            return false;
          }

            $("#empdetailForm").submit(); // Submit the form
        });  

          setTimeout(function () {
               document.getElementById("id_logout").click();
          }, 60000 * 30);  

      } );
    </script>
      <Script>
       setTimeout(function () {
          document.getElementById('msg').style.display='none';
        }, 5000);
      </Script>
      <Script>
          function preventBack(){window.history.forward();}
          setTimeout("preventBack()", 0);
          window.onunload=function(){null};
      </Script>      
    <title>Employee Details</title>
    <style>
          * {box-sizing: border-box;}

          body { 
            margin: 0;
            /*font-family: Arial, Helvetica, sans-serif;*/
          }

          .header {
            overflow: hidden;
            background-color: #11411B;
            /*padding: 20px 10px;*/
          }

          .header a {
            float: left;
            color: black;
            text-align: center;
            padding: 12px;
            text-decoration: none;
            font-size: 18px; 
            line-height: 25px;
            border-radius: 4px;
          }

          .header a.logo {
            font-size: 25px;
            font-weight: bold;
            color: white;
          }

          .header a {
            color: white;
            margin: 10px;
          }

          .header a:hover {
            background-color: #55BC79;
            color: white;
          }

          .img_logo{
              border: 1px solid #ddd;
              border-radius: 4px;
              padding: 5px;
              width: 150px;
              height: 65px;
              margin: 10px;

          }

          .header a.active {
            background-color: #55BC79;
            color: white;
          }

          .header-right {
            float: right;
          }

          @media screen and (max-width: 500px) {
            .header a {
              float: none;
              display: block;
              text-align: left;
              color: white;
            }
            
            .header-right {
              float: none;
            }
          }


      html, body {
        min-height: 100%;
      }
      body, div, form, input, select, p { 
        padding: 0;
        margin: 0;
        outline: none;
        font-family: Roboto, Arial, sans-serif;
        font-size: 16px;
        color: #eee;
      }
      body {
        background: rgba(0, 0, 0, 0.5);
        background-size: cover;
/*      background: url("https://www.w3docs.com/uploads/media/default/0001/01/b5edc1bad4dc8c20291c8394527cb2c5b43ee13c.jpeg") no-repeat center;
      background-size: cover;*/
      }
      h1, h2 {
        text-transform: uppercase;
        font-weight: 400;
      }
      h2 {
        margin: 0 0 0 8px;
      }
      .main-block {
        /*display: flex;*/
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*height: 100%;*/
        padding: 25px;
        background: rgba(0, 0, 0, 0.5); 
      }
      .left-part, form {
        padding: 25px;
      }
      .left-part {
        text-align: center;
      }
      .img-round{
          width: 150px;
          height: 150px;
          border-radius: 50%;
          margin-right: 50px;
      }
      .fa-graduation-cap {
        font-size: 72px;
      }
      form {
        background: rgba(0, 0, 0, 0.7); 
      }
      .title {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }
      .info {
        display: flex;
        flex-direction: column;
      }
      .info-row {
        display: flex;
        flex-direction: row;
      }
      .info-column {
        display: flex;
        flex-direction: column;
        width: 100%;
      }      
      label {
        color: #26a9e0;
      }
      input, select {
        padding: 5px;
        margin-bottom: 30px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #eee;
      }
      input::placeholder {
        color: #eee;
      }
      option:focus {
        border: none;
      }
      option {
        background: black; 
        border: none;
      }
      .checkbox input {
        margin: 0 10px 0 0;
        vertical-align: middle;
      }
      .checkbox a {
        color: #26a9e0;
      }
      .checkbox a:hover {
        color: #85d6de;
      }
      .btn-item, button {
        padding: 10px 5px;
        margin-top: 20px;
        border-radius: 5px; 
        border: none;
        background: #26a9e0; 
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
      }
      .btn-item {
        display: inline-block;
        margin: 20px 5px 0;
      }
      .ui-datepicker {
         background: #333;
         border: 1px solid #555;
         color: #EEE;
      }
      .ui-widget-header{
        background: #26a9e0;
      }
      button {
        width: 100%;
      }
      button:hover, .btn-item:hover {
        background: #85d6de;
      }
      @media (min-width: 568px) {
        html, body {
          height: 100%;
        }
        .main-block {
          flex-direction: row;
          /*height: calc(100% - 50px);*/
          height: : 100%;
        }
        .left-part, form {
          flex: 1;
          height: auto;
        }
      }
        .box {
          /*position: absolute;*/
/*          top: 50%;
          left: 50%;*/
          /*transform: translate(-50%, -50%);*/
          margin-top: 10px;
        }

        .box select {
          background-color: #0563af;
          color: white;
          padding: 12px;
          width: 100%;
          border: none;
          font-size: 20px;
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
          -webkit-appearance: button;
          appearance: button;
          outline: none;
        }

        .box::before {
          /*content: "\f13a";*/
          font-family: FontAwesome;
          /*position: absolute;*/
          top: 0;
          right: 0;
          width: 20%;
          height: 100%;
          text-align: center;
          font-size: 28px;
          line-height: 45px;
          color: rgba(255, 255, 255, 0.5);
          background-color: rgba(255, 255, 255, 0.1);
          pointer-events: none;
        }

        .box:hover::before {
          color: rgba(255, 255, 255, 0.6);
          background-color: rgba(255, 255, 255, 0.2);
        }

        .box select option {
          padding: 30px;
        }
    </style>
  </head>
    <body>

        <div class="header">
          <img class="img_logo" src="https://firebasestorage.googleapis.com/v0/b/fir-test-be60a.appspot.com/o/logo.png?alt=media&token=cf2c5099-740a-42b9-9be1-dd8f6b9f4e69" alt="STPL" >
          <div class="header-right">
            <a href="/emplisting">Home</a>
            <a class="active" href="/addempdetail">Add New</a>
            <a href="/logout">Logout</a>
          </div>
        </div>

    <div class="main-block">
      <h2 style="text-align: center; padding: 10px;" id="msg">{{message}}</h2>
<!--       <div class="left-part">
        <i class="fas fa-graduation-cap"></i>
        <h1>Register to our courses</h1>
        <p>W3docs provides free learning materials for programming languages like HTML, CSS, Java Script, PHP etc.</p>
        <div class="btn-group">
          <a class="btn-item" href="https://www.w3docs.com/learn-html.html">Learn HTML</a>
          <a class="btn-item" href="https://www.w3docs.com/quiz/#">Select Quiz</a>
        </div>
        <img class="img-round" src="{{empdetail.picture}}" alt="{{empdetail.firstName}}" >
      </div> -->
      <form action="/empaddbyadmin" method="post" id="empdetailForm">
        <div class="title">
          <img class="img-round" src="https://firebasestorage.googleapis.com/v0/b/fir-test-be60a.appspot.com/o/no_image.png?alt=media&token=2931a604-66ae-4354-b387-8f5bffc0480b" alt="Emp Image" >
          <i class="fas fa-pencil-alt"></i> 
          <h2>Employee Details</h2>
        </div>

        <div class="info-row" style="visibility: hidden;">
          <div class="info-column">
            <label for="id">ID</label>
            <input type="text" name="id" placeholder="id" value="{{newEmpId}}" hidden="true">
          </div>
        </div>

        <div class="info">
          <div class="info-row">
            <div class="info-column">
              <label for="empId">Employee ID</label>
              <input type="text" name="empId" placeholder="Employee ID" value="IT-">
            </div>
            <div class="info-column">
              <label for="title">Designation</label>
              <input type="text" name="title" placeholder="Designation" value="">
            </div>
          </div>

          <div class="info-row">
            <div class="info-column">
              <label for="Email">Email</label>
              <input type="text" name="email" placeholder="Email" value="@sarvika.com">
            </div>
          </div>

          <div class="info-row">
            <div class="info-column">
              <label for="firstName">First Name</label>
              <input class="fname" type="text" name="firstName" placeholder="First Name" value="" required="required"> 
            </div>
            <div class="info-column">
              <label for="lastName">Last Name</label>
              <input class="lname" type="text" name="lastName" placeholder="Last Name" value="" required="required">
            </div>
          </div>

          <div class="info-row">
            <div class="info-column">
              <label for="phone">Phone number</label>
              <input type="text" name="phone" placeholder="Phone number" value="" required="required">
            </div>
            <div class="info-column">
              <label for="mobilePhone">E-Phone number</label>
              <input type="text" name="mobilePhone" placeholder="E-Phone number" value="" required="required">
            </div>
          </div>

          <div class="info-row">
            <div class="info-column">
              <label for="bloodGrp">Blood Group</label>
              <input type="text" name="bloodGrp" placeholder="Blood Group" value="B+">
            </div>
            <div class="info-column">
              <label for="pan">PAN Number</label>
              <input type="text" name="pan" placeholder="PAN Number" value="ATEPD8622B">
            </div>
          </div>

          <div class="info-row">
            <div class="info-column">
              <label for="passportNo">Passport Number</label>
              <input type="text" name="passportNo" placeholder="Passport Number" value="F7802033">
            </div>
            <div class="info-column">
              <label for="passportExpiry">Passport Expiry Date (YYYY/MM/DD)</label>
              <input type="text" id="passportExpiry" name="passportExpiry" placeholder="Passport Expiry Date" value="2020-09-22T00:00:00.000Z" hidden="true">
              <input type="text" id="datepickerpassportExpiry" name="dppassportExpiry" placeholder="Passport Expiry Date" value="2020-09-22T00:00:00.000Z">
            </div>
          </div>

          <div class="info-row">
            <div class="info-column">
              <label for="dob">Date of Birth (YYYY/MM/DD)</label>
              <input type="text" id="dob" name="dob" placeholder="Date of Birth" value="2020-09-22T00:00:00.000Z" hidden="true">
              <input type="text" id="datepickerdob" name="dpdob" placeholder="Date of Birth">
            </div>
            <div class="info-column">
              <label for="doj">Date of Joining (YYYY/MM/DD)</label>
              <input type="text" id="doj" name="doj" placeholder="Date of Joining" value="2020-09-22T00:00:00.000Z" hidden="true">
              <input type="text" id="datepickerdoj" name="dpdoj" placeholder="Date of Joining" value="2020-09-22T00:00:00.000Z">
            </div>
          </div>

          <div class="info-row">
            <div class="info-column">
              <label for="picture">Profile Image URL</label>
              <input type="text" name="picture" placeholder="Profile Image Url" value="https://firebasestorage.googleapis.com/v0/b/fir-test-be60a.appspot.com/o/no_image.png?alt=media&token=2931a604-66ae-4354-b387-8f5bffc0480b">
            </div>
          </div>  
         
          <div class="info-row">
            <div class="info-column">
              <label for="isActive">Is Active Employee</label>
                <div class="checkbox">
                  <div style="display: flex; flex-direction: row; padding: 20px;">
                    <input type="checkbox" id="isActive" name="isActive" value="true">
                    <div id="isActiveValue">true</div>
                  </div>
                </div>              
            </div>
            <div class="info-column">
              <label for="isAdmin">Is Admin Privilege</label>
              <div class="checkbox">
                <div style="display: flex; flex-direction: row; padding: 20px;">
                  <input type="checkbox" id="isAdmin" name="isAdmin" value="false">
                  <div id="isAdminValue">false</div>
                </div>
              </div> 
            </div>
          </div>

          <div class="info-row">
            <div class="info-column">
              <label for="Manager">Reporting Manager</label>
              <input type="text" id="managerId" name="managerId" placeholder="managerId" value="2" readonly hidden="true">
              <input type="text" id="managerName" name="managerName" placeholder="managerName" value="Jyotsana Rankawat" readonly hidden="true">
                <div class="box">
                  <select id="selectboxmanager">
                    <option value="">-- Select Manager --</option>
                  </select>
                </div>
            </div>
          </div>





<!--           <select>
            <option value="course-type" selected>Course type*</option>
            <option value="short-courses">Short courses</option>
            <option value="featured-courses">Featured courses</option>
            <option value="undergraduate">Undergraduate</option>
            <option value="diploma">Diploma</option>
            <option value="certificate">Certificate</option>
            <option value="masters-degree">Masters degree</option>
            <option value="postgraduate">Postgraduate</option>
          </select> -->
        </div>
<!--         <div class="checkbox">
          <input type="checkbox" name="checkbox"><span>I agree to the <a href="https://www.w3docs.com/privacy-policy">Privacy Poalicy for W3Docs.</a></span>
        </div> -->
        <button type="button" id="submitBtn">Submit</button>
      </form>
    </div>
  </body>


</html>
